<h2><%= @article.title %></h2>

<h3>コメントの編集</h3>

<%= form_for @comment, url: {action: :update} do |f| %>

<p>
    <%= f.label :content %> <br>
    <%= f.text_area :content %><br>
    
    <% if @comment.errors.any? %>
    <%= @comment.errors.messages[:content][0] %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>
