<h2><%= @article.title %></h2>

<h3>新しいコメントの作成</h3>

<%= form_for @comment, url: {action: :create} do |f| %>

<p>
    <%= f.label :content %> <br>
    <%= f.text_area :content %><br>
    
    <% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>
