<h1>ゆっこのブログ</h1>

<h2>新しい記事の作成</h2>

<%= form_for @article do |f| %>

<p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %> <br>
    <%= f.label :content %> <br>
    <%= f.text_area :content %><br>
    
    <% if @article.errors.any? %>
    <%= @article.errors.messages[:title][0] %><br>
    <%= @article.errors.messages[:content][0] %>
    <% end %>
</p>

<p>
    <%= f.submit %>
</p>

<% end %>