<h2><%= @article.title %></h2>

<p>
    <%= @article.content %>
</p>

<p>
    <%= link_to "[コメントの追加]", new_article_comment_path(@article.id) %>
</p>

<h3>
    コメント一覧
</h3>

<ul>
    <% @article.comments.each do |comment| %>
    <li>
        <%= comment.content %>
        <%= link_to "[コメントの編集]", edit_article_comment_path(id: comment.id, article_id: @article.id) %>
        <%= link_to "[コメントの削除]", article_comment_path(comment.id, article_id: @article.id), method: :delete, data: { confirm: "are you sure?" } %>
    </li>
    <% end %>
</ul>

<p>
    <%= link_to "[記事の編集]", edit_article_path(@article.id) %>
    <%= link_to "[記事の削除]", article_path(@article.id), method: :delete, data: { confirm: "are you sure?" } %>
</p>